button {    /* heavily inspired from a code pen from this link here https://codepen.io/kathykato/pen/gOOjgmP */
    background-color: rgba(238, 238, 238, 1);
    margin-bottom: .5em;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 0.75em;
    padding: .35em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 95%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $flair;
        border-radius: inherit;
        box-shadow: 0 0 0 2px, 0 0.25em 0 0;
        transform: translate3d(0, 0.5em, -1em);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
      }
      &:hover {
        transform: translate(0, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px, 0 0.25em 0 0;
          transform: translate3d(0, 0.25em, -1em);
        }
      }
      &:active {
        transform: translate(0em, 0.25em);
        &::before {
          box-shadow: 0 0 0 2px, 0 0;
          transform: translate3d(0, 0, -1em);
        }
      }
}

.close-button-container {
  text-align: left;
  @include mq(xxl) {
    margin-right: auto;
  }
}

.close {
  margin: .5em 0 .5em auto;
  width: 2.5em;
}

.contact-button {
  animation: vibrate 1s linear infinite both;
}

@keyframes vibrate {
  0% {
            transform: translate(0);
  }
  20% {
            transform: translate(-2px, 2px);
  }
  40% {
            transform: translate(-2px, -2px);
  }
  60% {
            transform: translate(2px, 2px);
  }
  80% {
            transform: translate(2px, -2px);
  }
  100% {
            transform: translate(0);
  }
}





