// flex partial 

.hero,
.icon-container,
ul {
    @include flex;
    @include align-items(center);
}

.hero,
.icon-container {
    @include justify(space-between);
}

.hero {
    flex-flow: column wrap;
}

nav ul {
    @include justify(center);
}

.languages ul {
    @include justify(space-around);
}

.project {
    @include mq(m) {
        @include flex;
        @include justify(space-around);
        @include flow(column, nowrap);
    }
}

.about-hidden,
.bio {
    @include mq(l) {
        @include flex;
        @include flow(column, nowrap);
        @include align-items(center);
    }
}