// GRID PARTIAL 

.grid {
    display: grid;
    grid-template-areas: 
        'hero'
        'main'
        'footer';
    gap: 1em;
    justify-items: center;
    @include mq(m) {
        grid-template-areas: 
        'hero hero '
        'main main '
        'main main'
        'footer footer';
    }
    @include mq(l) {
        grid-template-areas: 
            'hero main main'
            'hero main main'
        ;
    }
}

.hero {
    grid-area: hero;
}

footer {
    grid-area: footer;
    @include mq(l) {
        display: none;
    }
}

.portfolio-container {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        'one'
        'two'
        'three'
        'four';
    gap: 1em;
    justify-items: center;
    @include mq(m) {
        grid-template-areas: 
        'one two '
        'three four ';
    }
}
