// images partial 

//svgs
.felix-container {
    height: 0;
    position: relative;
    width: 4em;
    padding-top: 5em;
    margin: 0 auto;
    @include mq(l) {
        width: 6em;
        margin: 0 auto 2em;
    }
}

.felix, 
.linkedin,
.github,
.codepen,
.instagram {
    position: absolute;
    top: 0;
    left: 0;
}

.linkedin-container,
.github-container,
.codepen-container,
.instagram-container {
    height: 0;
    position: relative;
    width: 2em;
    padding-top: 2em;
}

.gif {
    width: 10em;
    height: 7.5em;
    background-color: #fffff0;
    display: inline-block;
        // margin-bottom: -.425em;
}

.eye-roll {
    background: center / contain no-repeat url('../images/felix-eye-roll.gif');
}

.hypno {
    background: center / contain no-repeat url('../images/hypno.gif');
}

.wink {
    background: center / contain no-repeat url('../images/felix-wink.gif');
}

// .reading {
//     background: center / contain no-repeat url('../images/felix-read.gif');
// }

.quarternote {
    animation: move 10s ease-in-out both infinite;
}

.eighthnote {
    animation: move 10s ease-in-out both infinite;
    animation-delay: 1000ms;
}

@keyframes move {
    10% {
        transform: translateX(20%);
    }
    20% {
        transform: translateX(-20%);
    }
    30% {
        transform: translateX(40%);
    }
    40% {
        transform: translateX(-40%);
    }
    50% {
        transform: translateX(60%);
    }
    60% {
        transform: translateX(-60%);
    }
    70% {
        transform: translateX(80%);
    }
    80% {
        transform: translateX(-80%);
    }
    90% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(0);
    }
}

.whistle {
    width: 8em;
    margin-top: .65em;
}

.svg-globe {
    margin-bottom: 1em;
    animation: spinglobe 10s ease-in-out infinite both;
}

@keyframes spinglobe {
    from{transform: rotate(0);}
    to{transform: rotate(360deg);}
}
