// images partial 

//svgs
.felix-container {
    height: 0;
    position: relative;
    width: 4em;
    padding-top: 5em;
}

.felix, 
.linkedin,
.github,
.codepen,
.instagram {
    position: absolute;
    top: 0;
    left: 0;
}

.linkedin-container,
.github-container,
.codepen-container,
.instagram-container {
    height: 0;
    position: relative;
    width: 2em;
    padding-top: 2em;
}

.project-image {
    width: 50%;
    margin: 0 auto;
}

.hypno {
    width: 20.775em;
    height: 19.875em;
    background: url(../images/hypnofelix-final.png) left center;
    background-size: cover;
    animation: play 2.5s steps(10) infinite;
    display: inline-block;
}

@keyframes play {
    100% {background-position: -206.5em;}
}