// SPACING GENERAL STYLES PARTIAL

.hidden {
    display: none;
}

body {
    position: relative;
    width: 95vw;
    margin: 1em auto;
}

main {
    width: 95%;
}

header {
    width: 95%;
    padding: .5em;
}

.icon-container {
    width: 65%;
    margin: .5em auto;
}

.nav-bar li {
    margin: .5em 1em;
}
