// SPACING GENERAL STYLES PARTIAL

.hidden {
    display: none;
}

body {
    position: relative;
    width: 95vw;
    margin: 1em auto;
}

main {
    width: 95%;
}

header {
    padding: .5em;
    border-radius: 5px;
}

