// COLOR PARTIAL 

body {
    background-color: $background-primary;
}

header {
    background-color: $background-secondary;
    color: black;
}

.project-container {
    background-color: #fffff0;
    color: black;
}