// TYPOGRAPHY PARTIAL 

/* CSS rules to specify families
font-family: 'Oleo Script', cursive;
font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto:wght@400;500;700&display=swap');


h1, h2 {
    font-family: 'Oleo Script', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 2.7em;
}

h2 {
    font-weight: 400;
    padding-top: 1em;
    margin-top: 3em;
}