// TYPOGRAPHY PARTIAL 

/* font-family: 'Oleo Script', cursive;
font-family: 'Source Code Pro', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Source+Code+Pro:ital@0;1&display=swap');


h1, h2, h3, h4 {
    font-family: 'Oleo Script', cursive;
}

body, a {
    font-family: 'Source Code Pro', monospace;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 2.7em;
    @include mq(l) {
      font-size: 3.6em;
    }
}

h2 {
  @include mq(l) {
    font-size: 2.1em;
  }
}

h2, h3 {
    font-weight: 500;
}

h3 {
  font-size: 1.4em;
  margin: .25em 0;
  @include mq(l) {
    font-size: 2em;
  }
}

.bio {
  @include mq(l) {
    width: 35ch;
  }
  @include mq(xl) {
    width: 65ch;
  }
}

.demo-message {
  animation: vibrate 1s linear infinite both;
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.typing h2 {
    border-right: .15em solid $flair;
    white-space: nowrap;
    overflow: hidden;
    width: 18ch;
    animation: type 3s steps(40, end), blink .5s step-end infinite;
    animation-fill-mode: forwards;
    @include mq(l) {
      width: 17.5ch;
    }
}

.bio-type p {
  @include mq(xxl) {
    opacity: 0;
    border-right: .15em solid $flair;
    white-space: nowrap;
    overflow: hidden;
    &:nth-child(3) {
      animation: biotype 4s steps(40, end);
      animation-fill-mode: forwards;
    }
    &:nth-child(4) {
      animation: biotype2 4s steps(40, end);
      animation-delay: 4s;
      animation-fill-mode: forwards;
    }
    &:nth-child(5) {
      animation: biotype3 4s steps(40, end);
      animation-delay: 8s;
      animation-fill-mode: forwards;
    }
    &:nth-child(6) {
      animation: biotype4 4s steps(40, end);
      animation-delay: 12s;
      animation-fill-mode: forwards;
    }
    &:nth-child(7) {
      animation: biotype5 6s steps(50, end);
      animation-delay: 16s;
      animation-fill-mode: forwards;
    }
    &:nth-child(8) {
      animation: biotype6 2s steps(6, end), blink .5s step-end infinite alternate;
      animation-delay: 22s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid $flair;
    }
    100% {
      border: none;
    }
}

@keyframes blink {
        50% {
          border-color: transparent;
        }
      }


@keyframes biotype {
  from{width: 0;}
  1%{opacity: 1;}
  99.9%{border-right: .15em solid $flair;}
  to{
    opacity: 1;
    border: none;
    width: 60ch;
  }
}

@keyframes biotype2 {
  from{width: 0;}
  1%{opacity: 1;}
  99.9%{border-right: .15em solid $flair;}
  to{
    opacity: 1;
    border: none;
    width: 60ch;
  }
}

@keyframes biotype3 {
  from{width: 0;}
  1%{opacity: 1;}
  99.9%{border-right: .15em solid $flair;}
  to{
    opacity: 1;
    border: none;
    width: 55ch;
  }
}

@keyframes biotype4 {
  from{width: 0;}
  1%{opacity: 1;}
  99.9%{border-right: .15em solid $flair;}
  to{
    opacity: 1;
    border: none;
    width: 40ch;
  }
}

@keyframes biotype5 {
  from{width: 0;}
  1%{opacity: 1;}
  99.9%{border-right: .15em solid $flair;}
  to{
    opacity: 1;
    border: none;
    width: 65ch;
  }
}

@keyframes biotype6 {
  from{width: 0;}
  1%{opacity: 1;}
  to{
    opacity: 1;
    width: 8ch;
  }
}

